.PostList {
  margin: 0 1.8rem !important;

  .post-item {
    font-size: 15px;
    padding: 0.7rem 0 !important;

    &:hover {
      .item-link {
        color: black;
      }
    }

    .item-link {
      color: rgb(54, 54, 54);
    }
  }
}
