* {
  margin: 0;
  padding: 0;
}

.popup-content {
  background-color: rgba(0, 0, 0, 0) !important;
  border: 1px solid rgba(0, 0, 0, 0) !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
